.product-card {
    width: 350px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: ease-in-out 150ms;
}

.product-card:hover{
    transform: scale(1.1);
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
}

.product-card .product-info {
    padding: 10px;
}

.product-card .product-name,
.product-card .product-category,
.product-card .product-price {
    margin-bottom: 10px;

}

.product-card .product-name {
    font-weight: bold;
    font-size: 20px;
}

.product-card .product-category {
    color: #777;
    font-size: 16px;
}

.product-card .product-price {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
